amqp==2.3.2
azure-core==1.24.2
azure-identity==1.10.0
azure-storage-blob==12.13.1
billiard==3.5.0.4
celery==4.2.1
certifi==2018.4.16
cffi==1.15.1
chardet==3.0.4
cryptography==39.0.0
django-dotenv==1.4.2
docker==3.5.1
docker-pycreds==0.3.0
gitdb==4.0.9
GitPython==3.1.18
idna==2.7
isodate==0.6.1
kombu==4.2.1
msal==1.20.0
msal-extensions==1.0.0
msrest==0.7.1
oauthlib==3.2.2
portalocker==2.6.0
pycparser==2.21
PyJWT==2.4.0
pytz==2018.5
requests==2.20.0
requests-oauthlib==1.3.1
rollbar==0.14.5
six==1.16.0
smmap==5.0.0
spython==0.0.45
timeout-decorator==0.4.0
typing_extensions==4.1.1
urllib3==1.23
vine==1.1.4
websocket-client==0.48.0
